version: '3.8'
services:
  backend:
    image: iliutaadrian/gg-dashboard-backend:latest
    ports:
      - "6969:6969"
    networks:
      - gg-network
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    image: iliutaadrian/gg-dashboard-frontend:latest
    ports:
      - "3069:3000"
    networks:
      - gg-network
    env_file:
      - ./frontend/.env
    restart: unless-stopped

  cronjob:
    image: iliutaadrian/gg-dashboard-cronjob:latest
    networks:
      - gg-network
    depends_on:
      - frontend
    restart: unless-stopped

networks:
  gg-network:
    driver: bridge
